PORT=3000
NODE_ENV=development
SUPABASE_URL=https://wbypylvyzbeglwpsrwuo.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndieXB5bHZ5emJlZ2x3cHNyd3VvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzU4NDc4NCwiZXhwIjoyMDc5MTYwNzg0fQ.I3lWM1xXToVW_PEQwonVvDR-bCVGjGEn6KmKwflNySo
CLIENT_URL=http://localhost:3000
